{% extends "main.html" %}
{% block content %}
    <div class="container py-5 content">
        <h2 class="text-center mb-4">Paket Wifi Terbaik untuk Anda</h1>
        <div class="row justify-content-center">
             <!-- Paket 1-->
             <div class="col-md-4 mb-4 card-flip" id="paket_A">
                <div class="card pircing-card text-center p-3">
                   <h4 class="card-title mt-4"> Paket A</h4>
                   <div class="card-body">
                       <p class="card-text">Full Fiber To The Home </p>
                       <h3 class="fw-bold ">Rp. 500.000<span class="fs-6">/bulan</span></h3>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Unlimited Kuota</li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Kecepatan Upto <span class="text-primary fw-bold">100Mbps</span></li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Pengguna Banyak, Kebutuhan Usaha, Smart Home</li>
                       </ul>
                       <button class="btn btn-primary w-25">Beli</button>
                   </div>
               </div>
            </div>
            <!-- Paket 2-->
            <div class="col-md-4 mb-4 card-flip" id="paket_B">
                <div class="card pircing-card text-center p-3">
                   <h4 class="card-title mt-4"> Paket B</h4>
                   <div class="card-body">
                       <p class="card-text">Full Fiber To The Home </p>
                       <h3 class="fw-bold ">Rp. 350.000<span class="fs-6">/bulan</span></h3>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Unlimited Kuota</li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Kecepatan Upto <span class="text-primary fw-bold">50Mbps</span></li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Gaming online, streaming 4K, dan penggunaan berat lainnya</li>
                       </ul>
                       <button class="btn btn-primary w-25">Beli</button>
                   </div>
               </div>
            </div>
            <!-- Paket 3-->
            <div class="col-md-4 mb-4 card-flip" id="paket_C">
                <div class="card pircing-card text-center p-3">
                   <h4 class="card-title mt-4"> Paket C</h4>
                   <div class="card-body">
                       <p class="card-text">Full Fiber To The Home </p>
                       <h3 class="fw-bold ">Rp. 150.000<span class="fs-6">/bulan</span></h3>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Unlimited Kuota</li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Kecepatan Upto <span class="text-primary fw-bold">30Mbps</span></li>
                           <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Streaming video HD, meeting online, dan pekerjaan remote</li>
                        </ul>
                        <button class="btn btn-primary w-25">Beli</button>
                   </div>
               </div>
            </div>
            <!-- Paket 4 -->
             <div class="col-md-4 mb-4 card-flip" id="paket_D">
                 <div class="card pircing-card text-center p-3">
                    <h4 class="card-title mt-4"> Paket D</h4>
                    <div class="card-body">
                        <p class="card-text">Full Fiber To The Home </p>
                        <h3 class="fw-bold ">Rp. 100.000<span class="fs-6">/bulan</span></h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Unlimited Kuota</li>
                            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Kecepatan Upto <span class="text-primary fw-bold">10Mbps</span></li>
                            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Browsing, Media sosial, dan Kebutuhan Ringan Lainnya</li>
                        </ul>
                        <button class="btn btn-primary w-25">Beli</button>
                    </div>
                </div>
             </div>
            
        </div>
    </div>
{% endblock %}